{% load static %}
<script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
<!-- Bootstra{% static 'dashboard/p -->
<script src="{% static 'dashboard/js/bootstrap.js' %}"></script>
<!-- App -->
<script src="{% static 'dashboard/js/app.js' %}"></script>
<script src="{% static 'dashboard/js/app.plugin.js' %}"></script>
<script src="{% static 'dashboard/js/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'dashboard/js/charts/easypiechart/jquery.easy-pie-chart.js' %}"></script>
<script src="{% static 'dashboard/js/charts/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'dashboard/js/charts/flot/jquery.flot.min.js' %}"></script>
<script src="{% static 'dashboard/js/charts/flot/jquery.flot.tooltip.min.js' %}"></script>
<script src="{% static 'dashboard/js/charts/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'dashboard/js/charts/flot/jquery.flot.grow.js' %}"></script>
<script src="{% static 'dashboard/js/charts/flot/demo.js' %}"></script>

<script src="{% static 'dashboard/js/calendar/bootstrap_calendar.js' %}"></script>
<script src="{% static 'dashboard/js/calendar/demo.js' %}"></script>

<script src="{% static 'dashboard/js/sortable/jquery.sortable.js' %}"></script>

</body>
</html>